In [1]:
# Print your Emory ID here
print("Emory ID: 2547490")

Emory ID: 2547490

In [16]:
# Import the necessary libraries and load the data
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
passwords = pd.read_csv("passwords.csv")

1. An online password attack is when someone tries to hack your account by simply trying a very large number of username/password combinations to access your account. For each `password` in our dataset, the `value` column shows the amount of time it is estimated to take an “online password attack” to hack your account. The column `time_unit` shows the units of that time value (e.g., hours, days, years, etc.). It would be much nicer if our values were of the same units so we can more easily compare the “online password guessing time” for each password. So your first task is to convert all of the values to units of hours (assume the conversion units provided below, e.g., 1 day is 24 hours, 1 week is 168 hours, etc).

In [2]:
# Your answer here 

units = {
    "seconds": 1 / 3600,
    "minutes": 1 / 60,
    "days": 24,
    "weeks": 168,
    "months": 720,
    "years": 8760,
}

In [9]:
passwords['value'] = passwords.apply(
    lambda row: row['value'] * units.get(row['time_unit'], 1), axis=1
)

In [10]:
passwords

,rank,password,category,value,time_unit,offline_crack_sec,rank_alt,strength,font_size
0,1.0,password,password-related,60531.600000,years,2.170000e+00,1.0,8.0,11.0
1,2.0,123456,simple-alphanumeric,0.308667,minutes,1.110000e-05,2.0,4.0,8.0
2,3.0,12345678,simple-alphanumeric,30.960000,days,1.110000e-03,3.0,4.0,8.0
3,4.0,1234,simple-alphanumeric,0.003086,seconds,1.110000e-07,4.0,4.0,8.0
4,5.0,qwerty,simple-alphanumeric,89.280000,days,3.210000e-03,5.0,8.0,11.0
...,...,...,...,...,...,...,...,...,...
502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2. Are there any missing values in the dataset? If so, how many? After you have counted the, please drop them from the dataset.

In [17]:
# Your answer here
nacounter = passwords.isna().sum().sum()

In [18]:
nacounter

63

In [19]:
passwords = passwords.dropna()

3. Which password category has the highest average strength?

In [26]:
# Your answer here
passsorted = passwords.groupby('category')['strength'].mean()
passsorted

category
animal                  7.551724
cool-macho              7.215190
fluffy                  6.772727
food                    4.363636
name                    7.191257
nerdy-pop              14.000000
password-related        7.866667
rebellious-rude         6.727273
simple-alphanumeric     5.852459
sport                   8.000000
Name: strength, dtype: float64

In [31]:
print(passsorted.idxmax())
print(passsorted.max())

nerdy-pop
14.0

4. What is the rank of the password 'qwerty'?

In [32]:
# Your answer here
passwords.loc[passwords['password'] == 'qwerty', 'rank_alt']

4    5.0
Name: rank_alt, dtype: float64

5. How many passwords have more than 8 characters?

In [33]:
# Your answer here
passwords[passwords['password'].str.len() > 8].shape[0]

1

6. How many passwords do not contain a number?

In [34]:
passwordswithoutnum = passwords[passwords['password'].str.contains(r'\d')]
count1 = passwordswithoutnum.shape[0]

In [35]:
count1

54

7. What is the average time in hours needed to crack these passwords that begin with `123`? How does this compare to the average of all passwords in the dataset?

In [37]:
# Your answer here
passwords123 = passwords[passwords['password'].str.startswith('123')]
avg123time = passwords123['offline_crack_sec'].mean()
averagetime = passwords['offline_crack_sec'].mean()
print(avg123time)
print(averagetime)

0.0038617245555555447
0.500009642982

8. What percentage of passwords are of the `simple-alphanumeric` category?

In [40]:
# Your answer here
countsimpalph = len(passwords[passwords['category'] == 'simple-alphanumeric'])
totalcount = len(passwords)
percent = countsimpalph/totalcount
print(percent * 100)

12.2

9. How many passwords have a strength rating below 5? What is their percentage?

In [43]:
# Your answer here
countstrength = len(passwords[passwords['strength'] < 5])
print(countstrength)
print((countstrength/totalcount)*100)

73
14.6

10. What is the most common password in the dataset?

In [44]:
# Your answer here
passwords['password'].value_counts().idxmax()

'password'

11. How many unique passwords are there in each category, and what is their average length?

In [47]:
# Your answer here
uniquepass = passwords.groupby('category')['password'].nunique()

passwords['password_length'] = passwords['password'].apply(len)
avglength = passwords.groupby('category')['password_length'].mean()
print(uniquepass)

category
animal                  29
cool-macho              79
fluffy                  44
food                    11
name                   183
nerdy-pop               30
password-related        15
rebellious-rude         11
simple-alphanumeric     61
sport                   37
Name: password, dtype: int64

In [48]:
print(avglength)

category
animal                 6.206897
cool-macho             6.253165
fluffy                 5.795455
food                   6.090909
name                   6.218579
nerdy-pop              6.633333
password-related       6.333333
rebellious-rude        6.363636
simple-alphanumeric    5.934426
sport                  6.513514
Name: password_length, dtype: float64

12. What is the median rank and strength for passwords of each length?

In [49]:
# Your answer here
medrank = passwords.groupby('password_length')['rank'].median()
medstrength = passwords.groupby('password_length')['strength'].median()

In [51]:
medrank

password_length
4    326.0
5    343.0
6    231.0
7    222.0
8    286.0
9     49.0
Name: rank, dtype: float64

In [52]:
medstrength

password_length
4    6.0
5    7.0
6    7.0
7    8.0
8    8.0
9    4.0
Name: strength, dtype: float64

13. Add a column `strength_label` with values `weak` if strength is below 5, else `strong`. Use a lambda function.

In [53]:
# Your answer here
passwords['strength_label'] = passwords['strength'].apply(lambda x: 'weak' if x < 5 else 'strong')

14. Create a column `high_value` with a value of `True` if value is in the top 10% of values in the dataset.

In [55]:
# Your answer here
threshold = passwords['value'].quantile(0.90)
passwords['high_value'] = passwords['value'] > threshold

15. Join all passwords within each `category` into a single string.

In [57]:
# Your answer here
combinedpasswords = passwords.groupby('category')['password'].apply(lambda x: ' '.join(x)).reset_index()
combinedpasswords

              category                                           password
0               animal  dragon monkey bigdog falcon phoenix tigers chi...
1           cool-macho  mustang shadow master harley hunter ranger bus...
2               fluffy  love sunshine silver orange ginger summer prin...
3                 food  pepper cheese coffee banana butter muffin hotd...
4                 name  michael jennifer jordan superman thomas tigger...
5            nerdy-pop  starwars computer merlin matrix snoopy boomer ...
6     password-related  password letmein test pass access gateway plea...
7      rebellious-rude  biteme freedom secret whatever badboy sexsex b...
8  simple-alphanumeric  123456 12345678 1234 qwerty 12345 696969 abc12...
9                sport  baseball football soccer hockey dallas yankees...

**Bonus question 01**: What is the correlation between password length and strength? Create a scatter plot with regression line.

In [ ]:
# Your answer here

**Bonus question 02**: Find all passwords with palindromes.

In [ ]:
# Your answer here